<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.je1809.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.je1809.pojo.Article" >
    <id column="aid" property="aid" jdbcType="INTEGER" />
    <result column="atid" property="atid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="aname" property="aname" jdbcType="VARCHAR" />
    <result column="aimg" property="aimg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lookcount" property="lookcount" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    aid, atid, uid, aname, aimg, create_time, lookcount, remarks
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.je1809.pojo.ArticleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from article
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <select id="selectByAtid" resultMap="BaseResultMapConnect" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from article
    where atid = #{atid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.je1809.pojo.ArticleExample" >
    delete from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.je1809.pojo.Article" >
    insert into article (aid, atid, uid, 
      aname, aimg, create_time, 
      lookcount, remarks)
    values (#{aid,jdbcType=INTEGER}, #{atid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{aname,jdbcType=VARCHAR}, #{aimg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lookcount,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.je1809.pojo.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="atid != null" >
        atid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="aname != null" >
        aname,
      </if>
      <if test="aimg != null" >
        aimg,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lookcount != null" >
        lookcount,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="atid != null" >
        #{atid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="aname != null" >
        #{aname,jdbcType=VARCHAR},
      </if>
      <if test="aimg != null" >
        #{aimg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lookcount != null" >
        #{lookcount,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.je1809.pojo.ArticleExample" resultType="java.lang.Integer" >
    select count(*) from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update article
    <set >
      <if test="record.aid != null" >
        aid = #{record.aid,jdbcType=INTEGER},
      </if>
      <if test="record.atid != null" >
        atid = #{record.atid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.aname != null" >
        aname = #{record.aname,jdbcType=VARCHAR},
      </if>
      <if test="record.aimg != null" >
        aimg = #{record.aimg,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lookcount != null" >
        lookcount = #{record.lookcount,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update article
    set aid = #{record.aid,jdbcType=INTEGER},
      atid = #{record.atid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      aname = #{record.aname,jdbcType=VARCHAR},
      aimg = #{record.aimg,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      lookcount = #{record.lookcount,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.je1809.pojo.Article" >
    update article
    <set >
      <if test="atid != null" >
        atid = #{atid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="aname != null" >
        aname = #{aname,jdbcType=VARCHAR},
      </if>
      <if test="aimg != null" >
        aimg = #{aimg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lookcount != null" >
        lookcount = #{lookcount,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.je1809.pojo.Article" >
    update article
    set atid = #{atid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      aname = #{aname,jdbcType=VARCHAR},
      aimg = #{aimg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      lookcount = #{lookcount,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMapConnect" type="com.je1809.pojo.Article" >
    <id column="aid" property="aid" jdbcType="INTEGER" />
    <result column="atid" property="atid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="aname" property="aname" jdbcType="VARCHAR" />
    <result column="aimg" property="aimg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lookcount" property="lookcount" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <association property="users" column="uid" select="com.je1809.mapper.UsersMapper.selectByPrimaryKey" />
    <collection property="articleDescrList" column="aid" ofType="com.je1809.pojo.ArticleDescr"
                select="com.je1809.mapper.ArticleDescrMapper.selectByAid" />
  </resultMap>
  <select id="selectByPrimaryKeyConnect" resultMap="BaseResultMapConnect" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from article
    where aid = #{aid,jdbcType=INTEGER}
  </select>
</mapper>