<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.je1809.mapper.ArticleTypeMapper" >
  <resultMap id="BaseResultMap" type="com.je1809.pojo.ArticleType" >
    <id column="atid" property="atid" jdbcType="INTEGER" />
    <result column="atname" property="atname" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    atid, atname, remarks
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.je1809.pojo.ArticleTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from article_type
    where atid = #{atid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article_type
    where atid = #{atid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.je1809.pojo.ArticleTypeExample" >
    delete from article_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.je1809.pojo.ArticleType" >
    insert into article_type (atid, atname, remarks
      )
    values (#{atid,jdbcType=INTEGER}, #{atname,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.je1809.pojo.ArticleType" >
    insert into article_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="atid != null" >
        atid,
      </if>
      <if test="atname != null" >
        atname,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="atid != null" >
        #{atid,jdbcType=INTEGER},
      </if>
      <if test="atname != null" >
        #{atname,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.je1809.pojo.ArticleTypeExample" resultType="java.lang.Integer" >
    select count(*) from article_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update article_type
    <set >
      <if test="record.atid != null" >
        atid = #{record.atid,jdbcType=INTEGER},
      </if>
      <if test="record.atname != null" >
        atname = #{record.atname,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update article_type
    set atid = #{record.atid,jdbcType=INTEGER},
      atname = #{record.atname,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.je1809.pojo.ArticleType" >
    update article_type
    <set >
      <if test="atname != null" >
        atname = #{atname,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where atid = #{atid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.je1809.pojo.ArticleType" >
    update article_type
    set atname = #{atname,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where atid = #{atid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMapConnect" type="com.je1809.pojo.ArticleType" >
    <id column="atid" property="atid" jdbcType="INTEGER" />
    <result column="atname" property="atname" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <collection property="articleList" column="atid" ofType="com.je1809.pojo.Article"
                select="com.je1809.mapper.ArticleMapper.selectByAtid" />
  </resultMap>
  <select id="selectByExampleConnect" resultMap="BaseResultMapConnect" parameterType="com.je1809.pojo.ArticleTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>