<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.je1809.mapper.ArticleDescrMapper" >
  <resultMap id="BaseResultMap" type="com.je1809.pojo.ArticleDescr" >
    <id column="adid" property="adid" jdbcType="INTEGER" />
    <result column="aid" property="aid" jdbcType="INTEGER" />
    <result column="adtype" property="adtype" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="descr" property="descr" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    adid, aid, adtype, count, descr, remarks
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.je1809.pojo.ArticleDescrExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article_descr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from article_descr
    where adid = #{adid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article_descr
    where adid = #{adid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.je1809.pojo.ArticleDescrExample" >
    delete from article_descr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.je1809.pojo.ArticleDescr" >
    insert into article_descr (adid, aid, adtype, 
      count, descr, remarks
      )
    values (#{adid,jdbcType=INTEGER}, #{aid,jdbcType=INTEGER}, #{adtype,jdbcType=VARCHAR}, 
      #{count,jdbcType=INTEGER}, #{descr,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.je1809.pojo.ArticleDescr" >
    insert into article_descr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adid != null" >
        adid,
      </if>
      <if test="aid != null" >
        aid,
      </if>
      <if test="adtype != null" >
        adtype,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="descr != null" >
        descr,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adid != null" >
        #{adid,jdbcType=INTEGER},
      </if>
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="adtype != null" >
        #{adtype,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.je1809.pojo.ArticleDescrExample" resultType="java.lang.Integer" >
    select count(*) from article_descr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update article_descr
    <set >
      <if test="record.adid != null" >
        adid = #{record.adid,jdbcType=INTEGER},
      </if>
      <if test="record.aid != null" >
        aid = #{record.aid,jdbcType=INTEGER},
      </if>
      <if test="record.adtype != null" >
        adtype = #{record.adtype,jdbcType=VARCHAR},
      </if>
      <if test="record.count != null" >
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.descr != null" >
        descr = #{record.descr,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update article_descr
    set adid = #{record.adid,jdbcType=INTEGER},
      aid = #{record.aid,jdbcType=INTEGER},
      adtype = #{record.adtype,jdbcType=VARCHAR},
      count = #{record.count,jdbcType=INTEGER},
      descr = #{record.descr,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.je1809.pojo.ArticleDescr" >
    update article_descr
    <set >
      <if test="aid != null" >
        aid = #{aid,jdbcType=INTEGER},
      </if>
      <if test="adtype != null" >
        adtype = #{adtype,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="descr != null" >
        descr = #{descr,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where adid = #{adid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.je1809.pojo.ArticleDescr" >
    update article_descr
    set aid = #{aid,jdbcType=INTEGER},
      adtype = #{adtype,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      descr = #{descr,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where adid = #{adid,jdbcType=INTEGER}
  </update>
</mapper>