<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.je1809.mapper.MyAttentionMapper" >
  <resultMap id="BaseResultMap" type="com.je1809.pojo.MyAttention" >
    <id column="maid" property="maid" jdbcType="INTEGER" />
    <result column="myuid" property="myuid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    maid, myuid, uid, remarks
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.je1809.pojo.MyAttentionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from my_attention
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from my_attention
    where maid = #{maid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from my_attention
    where maid = #{maid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.je1809.pojo.MyAttentionExample" >
    delete from my_attention
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.je1809.pojo.MyAttention" >
    insert into my_attention (maid, myuid, uid, 
      remarks)
    values (#{maid,jdbcType=INTEGER}, #{myuid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.je1809.pojo.MyAttention" >
    insert into my_attention
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="maid != null" >
        maid,
      </if>
      <if test="myuid != null" >
        myuid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="maid != null" >
        #{maid,jdbcType=INTEGER},
      </if>
      <if test="myuid != null" >
        #{myuid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.je1809.pojo.MyAttentionExample" resultType="java.lang.Integer" >
    select count(*) from my_attention
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update my_attention
    <set >
      <if test="record.maid != null" >
        maid = #{record.maid,jdbcType=INTEGER},
      </if>
      <if test="record.myuid != null" >
        myuid = #{record.myuid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update my_attention
    set maid = #{record.maid,jdbcType=INTEGER},
      myuid = #{record.myuid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.je1809.pojo.MyAttention" >
    update my_attention
    <set >
      <if test="myuid != null" >
        myuid = #{myuid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where maid = #{maid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.je1809.pojo.MyAttention" >
    update my_attention
    set myuid = #{myuid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR}
    where maid = #{maid,jdbcType=INTEGER}
  </update>
</mapper>